/* MY WEB */
body {
    font: 16px/20px calibri, sans-serif;
    background-image: url('../img/me.JPG')
}
hr {
    width: 200px;
    border-top: 4px solid #666;
}
.container {
    width: 90%;
    padding: 10px;
    margin: auto;
    background-color: white;
}

.header{
padding: 20px;
text-align: center;
background-image: url("../img/sampul.jpg");
}

.header span {
    background-color: white;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;  
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 5px;
}

.header a {
    text-decoration: none;
    color: rgb(54, 54, 197);
}

.header a:hover {
    background-color: lightskyblue;
    color: red;
}

.content {
    margin: 10px;
    padding: 10px;
    min-height: 400px;

}

.content h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.content p {
    text-indent: 50px;
    line-height: 25px;
}

.biodata {
    text-align: center;
    min-height: 600px;
    background-color: rgb(192, 187, 187);
}

.biodata h2 {
    font-size: 30px;
    font-weight: bold;   
}


.biodata img {
    border-radius: 50%;
    border: 10px solid burlywood;
    width: 250px;
}

.footer {
    min-height: 50px;
    background-color: #666;
    text-align: center;
    padding: 5px;
}

/* Portofolio.html */

.hero {
    text-align: center;
}

.hero2 {
    text-align: center;
}

/* contact.html */

input[type=text], select, textarea {
    width: 80%;
    padding: 10px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=radio] {
    margin: 10px;
}

input[type=checkbox] {
    margin: 10px;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.ag {
    font-size: 13px;
    color: white;
    padding: 2px;
	background-color: rgb(67, 67, 155);
	border-radius: 9px;
  }

.ab {
    font-size: 13px;
    color: white;
    padding: 2px;
	background-color: rgb(73, 240, 40);
	border-radius: 9px;

}


